/* Make admin look like the frontend */
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 125%;
}
h3 {
    font-size: 14px;
    line-height: 130%;
    text-transform: uppercase;
    margin: 20px 0;
}
p {
    margin: 0 0 20px 0;
}

/* Show hard line breaks (Return symbol) */
p:after {
    content: "\023CE";
}

/* Distinguish linked images */
a > img {
    outline: 5px ridge #0085ba;
}

/* Warn on H1 and H2 */
h1,
h2 {
    color: red !important;
}
h1:after,
h2:after {
    /* content: " This is NOT for content"; */
    content: " Ez NEM tartalomba való";
    font-size: small;
}

/* Prevent deletion of invisible elements */
/* And easily spot dirty markup */
div {
    padding: 2px;
    outline: 2px dashed #887BD7;
}
/* TinyMCE div-s */
div.mce-resize-bar,
div.mce-resizehandle {
    padding: 0;
    outline: none;
}
span {
    padding: 2px;
    margin: 2px;
    outline: 2px dotted #A9A9A9;
}
